/* Import */
@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit/Outfit-VariableFont_wght.ttf) format("truetype");
}

/* variables */
:root {
  --fw-400: 400;
  --fw-700: 700;

  --clr-white: hsl(0, 0%, 100%);
  --clr-blue-300: hsl(212, 45%, 89%);
  --clr-blue-500: hsl(216, 15%, 48%);
  --clr-blue-900: hsl(218, 44%, 22%);

  --spacer: 1rem;
}

/* reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: 1.2;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Utility classes */
.flow-content > * + * {
  margin-top: var(--flow-space, var(--spacer));
}

/* general styles */
body {
  font-size: 15px;
  font-weight: var(--fw-400);
  font-family: "Outfit", sans-serif;
  color: var(--clr-blue-500);
  background: var(--clr-blue-300);
}

/* section styles */
.container {
  display: grid;
  place-items: center;
  height: 100vh;
}

.card {
  max-width: 20rem;
  border-radius: var(--spacer);
  padding: var(--spacer);
  margin-bottom: var(--spacer);
  background: var(--clr-white);
  text-align: center;
}

.card__image {
  border-radius: calc(var(--spacer) / 2);
}

.card__content {
  padding: 0.5rem 1rem 2rem;
}

.card__title {
  margin-bottom: var(--spacer);
  font-weight: var(--fw-700);
  font-size: 1.4rem;
  color: var(--clr-blue-900);
}
